[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"

[dev-packages]
"flake8" = "*"
pylint = "*"
pytest = "*"
pytest-sanic = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
